body {
    background: #ff00cc;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #333399, #ff00cc);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #333399, #ff00cc);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


    font-family: 'Roboto',
        sans-serif;
}

/* Dosis-Bold
Dosis-ExtraBold */
.container-fluid {
    height: 100vh;
    width: 100%;

}

#uiViewCard {
    text-align: center;
    border-radius: 30px;
}

#buttonGroupCard {
    text-align: center;
    border-radius: 10px;
}

#messageText,
#mainMessageText,
h5,
p {
    color: #FEFEFE;

}

#mainMessageText {
    padding-top: 40px;
}

.row {
    display: flex;
    align-items: center;
    height: 100%;
}

.loginForm {
    text-align: start;
}

.card-title {
    background: linear-gradient(to right, #30CFD0 0%, #330867 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;

}

.btn {
    border: transparent;
    border-radius: 10px;
    /* background-color: #FEFEFE; */
}